parameters:
    database:
        host: localhost
        username: user
        password: pass
        database: db
        lazy: TRUE
        profiler:
            run: true
            explain: true
            filter: DibiEvent::ALL
            file: log.sql
